# 2. 데이터 전처리

In [1]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
merged_data_dir = '/dev/shm/data/2.merged'

In [3]:
all_transaction_df = pd.read_csv(os.path.join(merged_data_dir, 'merged-data-240321.csv'))
print('all_transaction_df shape: ', all_transaction_df.shape)
all_transaction_df.sample(5)

all_transaction_df shape:  (450388, 4)

             uid  recipe_sno  rating          datetime
233786  95968848     6957472     5.0  2023-09-08 19:50
274205  39897560     6868528     5.0  2021-12-14 23:32
365558  34666141     6868182     5.0  2017-06-14 21:21
141324  34639114     6869807     5.0  2021-10-20 13:57
283950  12098089     6878001     5.0  2019-08-13 11:26

## 5, 10개 이하의 상호작용만 있는 유저, 레시피 제거

In [4]:
def calculate_sparsity(target_df, threshold):
	df = target_df.uid.value_counts()
	user_over_5 = (df[df >= threshold]).index
	df = target_df[target_df.uid.isin(user_over_5)]
	len_unique_user = df.uid.nunique()
	len_unique_recipe = df.recipe_sno.nunique()
	sparsity = df.shape[0]/df.uid.nunique()/df.recipe_sno.nunique() * 100
	return len_unique_user, len_unique_recipe, sparsity, df

In [5]:
len_unique_user, len_unique_recipe, sparsity, all_transaction_5_df = calculate_sparsity(all_transaction_df, 5)
len_unique_user, len_unique_recipe, sparsity, all_transaction_5_df.shape

(20588, 58920, 0.02282248466701514, (276847, 4))

In [6]:
len_unique_user, len_unique_recipe, sparsity, all_transaction_10_df = calculate_sparsity(all_transaction_df, 10)
len_unique_user, len_unique_recipe, sparsity, all_transaction_10_df.shape

(7992, 51317, 0.0478597446951014, (196285, 4))

In [7]:
now = dt.now().strftime('%y%m%d')
all_transaction_5_df.to_csv(f'/dev/shm/data/3.preprocessed/merged-data-over-5-{now}.csv', index=False)
all_transaction_10_df.to_csv(f'/dev/shm/data/3.preprocessed/merged-data-over-10-{now}.csv', index=False)