# split 된 파일을 Recbole interaction으로 변환하기

In [1]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
data_dir = '/dev/shm/data/3.preprocessed'

In [3]:
df = pd.read_csv(os.path.join(data_dir, 'merged-data-over-5-240321.csv'))
print('train_df shape: ', df.shape)
df.sample(5)

train_df shape:  (276847, 4)

             uid  recipe_sno  rating          datetime
239004  19831374     6862680     5.0  2017-04-04 06:06
146787  75997033     6837870     5.0  2016-01-16 01:13
76025   19572058     6866483     5.0  2023-12-24 19:59
51968   58491660     6834238     3.0  2015-12-03 09:31
98090   92219780     6844127     5.0  2017-04-11 03:25

In [4]:
# sort by uid, datetime
df = df.sort_values(by=['uid', 'datetime'], na_position='first')
df.sample(5)

             uid  recipe_sno  rating          datetime
53691   61440273     6883990     5.0  2020-02-09 19:59
68528   69367549     6839837     5.0  2017-05-23 19:31
220028  88015859     6864234     4.0  2018-11-21 02:04
276400  15333309     6922749     5.0  2023-12-13 21:48
178640  39765052     6894679     5.0  2022-06-28 18:09

In [5]:
df['timestamp'] = pd.to_datetime(df.datetime).astype(int)/10**9

In [6]:
# df = df[['uid', 'recipe_sno', 'rating', 'datetime']]
# df.columns = ['user_id:token', 'item_id:token', 'rating:float', 'timestamp:float']
# df.head()

df = df[['uid', 'recipe_sno', 'timestamp']]
df.columns = ['user_id:token', 'item_id:token', 'timestamp:float']
df.head()

       user_id:token  item_id:token  timestamp:float
240220      00700070        6856432     1.503859e+09
240219      00700070        6885928     1.534357e+09
240218      00700070        6886836     1.546958e+09
240217      00700070        6892249     1.548445e+09
240216      00700070        6849655     1.549552e+09

In [7]:
df.to_csv('/dev/shm/data/BasketRecommendation/BasketRecommendation.inter', index=False, sep='\t')