# split 된 파일을 Recbole interaction으로 변환하기

In [1]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
data_dir = '/dev/shm/data/3.preprocessed'

In [3]:
df = pd.read_csv(os.path.join(data_dir, 'merged-data-over-5-240325.csv'))
print('train_df shape: ', df.shape)
df.sample(5)

train_df shape:  (244773, 4)

              uid  recipe_sno  rating          datetime
190635   60086420     6890715       5  2021-05-09 14:01
28817    80311425     6856312       4  2016-10-19 21:56
60648    32128977     4243352       5  2020-07-01 05:59
213179   61069740     5420128       5  2020-12-28 20:44
74041   heart2008     6899335       5  2020-06-30 16:59

In [4]:
df['uid'].nunique(), df.recipe_sno.nunique()

(20281, 44588)

In [5]:
# sort by uid, datetime
df = df.sort_values(by=['uid', 'datetime'], na_position='first')
df.sample(5)

             uid  recipe_sno  rating          datetime
237559  51165612     6858634       3  2016-10-25 11:48
119544  86576172     6868134       5  2017-06-16 22:31
140289  18249756     6912220       5  2020-06-14 14:53
215687  73743440     6833197       5  2019-04-10 21:09
242417  12258766     6867060       5  2017-04-11 13:28

In [6]:
df['timestamp'] = pd.to_datetime(df.datetime).astype(int)/10**9

In [7]:
# df = df[['uid', 'recipe_sno', 'rating', 'datetime']]
# df.columns = ['user_id:token', 'item_id:token', 'rating:float', 'timestamp:float']
# df.head()

df = df[['uid', 'recipe_sno', 'timestamp']]
df.columns = ['user_id:token', 'item_id:token', 'timestamp:float']
df.head()

       user_id:token  item_id:token  timestamp:float
208259      00700070        6856432     1.503859e+09
208258      00700070        6885928     1.534357e+09
208257      00700070        6886836     1.546958e+09
208256      00700070        6892249     1.548445e+09
208255      00700070        6849655     1.549552e+09

In [8]:
df.to_csv('/dev/shm/data/BasketRecommendation/BasketRecommendation.inter', index=False, sep='\t')