# split 된 파일을 Recbole interaction으로 변환하기

In [1]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
data_dir = '/dev/shm/data/4.split-by-user'

In [3]:
train_df = pd.read_csv(os.path.join(data_dir, 'train-data-over-5-240321.csv'))
print('train_df shape: ', train_df.shape)
train_df.sample(5)

train_df shape:  (213757, 4)

             uid  recipe_sno  rating          datetime
135368  73629196     6866734     5.0  2019-03-10 11:43
191771  chiy1101     6852934     5.0  2016-08-22 23:28
93492   52648451     6873244     5.0  2020-05-24 20:17
68339   40154159     6851272     5.0  2017-06-09 16:11
20726   19888774     6874866     5.0  2019-05-29 11:14

In [4]:
test_df = pd.read_csv(os.path.join(data_dir, 'test-data-over-5-240321.csv'))
print('test_df shape: ', test_df.shape)
test_df.sample(5)

test_df shape:  (63090, 4)

            uid  recipe_sno  rating          datetime
19459  39315509     6928594     5.0  2023-01-21 18:20
44916  80735651     2800483     5.0  2022-04-09 18:29
23364  45543474     6842258     5.0  2016-04-22 10:08
53443  94762408     6948608     5.0  2024-01-27 02:08
45174  80802273     6971235     NaN               NaN